name: Build Test
# Builds and tests carl-storm on various platforms
# also deploys images to Dockerhub

on:
  push:
    branches:
      - master
  schedule:
    # run weekly
    - cron: '0 10 * * 2'
  # needed to trigger the workflow manually
  workflow_dispatch:
  pull_request:

env:
  # GitHub runners currently have 4 cores
  NR_JOBS: "4"

jobs:
  compilerTests:
    # Build and run with different compilers (GCC, Clang)
    # Run on latest Archlinux version to get most recent compiler versions
    # Run on alpine to test with muslc (an glibc alternative).
    name: Compiler Tests (${{ matrix.config.name }} on ${{ matrix.config.distro }}, ${{ matrix.config.build_type }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - {name: "GCC",
             build_type: "Debug",
             cmake_args: "-DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCARL_WARNING_AS_ERROR=ON",
             packages: "",
             distro: "archlinux"
            }
          - {name: "Clang",
             build_type: "Debug",
             cmake_args: "-DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCARL_WARNING_AS_ERROR=ON",
             packages: "clang",
             distro: "archlinux"
            }
          - { name: "muslc",
              build_type: "Debug",
              cmake_args: "-DCARL_WARNING_AS_ERROR=ON",
              packages: "",
              distro: "alpine"
            }
    steps:
      - name: Git clone
        uses: actions/checkout@v6
      - name: Build Carl-storm from Dockerfile
        run: |
          docker build -t movesrwth/carl-storm:ci . -f .github/workflows/Dockerfile.${{ matrix.config.distro }} \
            --build-arg build_type="${{ matrix.config.build_type }}" \
            --build-arg cmake_args="${{ matrix.config.cmake_args }}" \
            --build-arg packages="${{ matrix.config.packages }}" \
            --build-arg no_threads=${NR_JOBS}
      - name: Run Docker
        run: docker run -d -it --name ci movesrwth/carl-storm:ci
      - name: Build tests
        run: docker exec ci bash -c "cd /opt/carl/build; make -j ${NR_JOBS}"
      - name: Run tests
        run: docker exec ci bash -c "cd /opt/carl/build; ctest test --output-on-failure"


  linuxTests:
    name: Linux Tests (${{ matrix.distro }}, ${{ matrix.build_type }}) on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        distro: ["debian-12", "ubuntu-24.04", "debian-13", "minimal_dependencies"]
        build_type: ["Debug", "Release"]
        runner: [ubuntu-latest]
        include:
          - distro: "latest"
            runner: ubuntu-24.04-arm
            build_type: "Debug"
          - distro: "latest"
            runner: ubuntu-24.04-arm
            build_type: "Release"

    steps:
      - name: Git clone
        uses: actions/checkout@v6
      - name: Build Carl-storm from Dockerfile
        run: |
          docker build -t movesrwth/carl-storm:ci . \
            --build-arg BASE_IMAGE=movesrwth/storm-basesystem:${{ matrix.distro }} \
            --build-arg build_type="${{ matrix.build_type }}" \
            --build-arg cmake_args="-DCARL_WARNING_AS_ERROR=ON" \
            --build-arg no_threads=${NR_JOBS}
      - name: Run Docker
        run: docker run -d -it --name ci movesrwth/carl-storm:ci
      - name: Build tests
        run: docker exec ci bash -c "cd /opt/carl/build; make -j ${NR_JOBS}"
      - name: Run tests
        run: docker exec ci bash -c "cd /opt/carl/build; ctest test --output-on-failure"


  macTests:
    name: macOS Tests (${{ matrix.config.name }}, ${{ matrix.config.build_type }})
    strategy:
      matrix:
        config:
          - {name: "XCode 15.4, ARM",
             distro: "macos-14",
             xcode: "15.4",
             build_type: "Debug"
            }
          - {name: "XCode Latest, ARM",
             distro: "macos-15",
             xcode: "latest-stable",
             build_type: "Debug"
            }
          - {name: "XCode Latest, Intel",
             distro: "macos-15-intel",
             xcode: "latest-stable",
             build_type: "Debug"
            }
          - {name: "XCode 26, ARM",
             distro: "macos-26",
             xcode: "26",
             build_type: "Debug"
            }
    runs-on: ${{ matrix.config.distro }}
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.config.xcode }}
      - name: Git clone
        uses: actions/checkout@v6
      - name: Install dependencies
        # cmake and gmp are already installed
        run: |
          brew update
          brew install boost cln ginac
      - name: Configure Carl-storm
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE="${{ matrix.config.build_type }}" -DCARL_WARNING_AS_ERROR=ON
      - name: Build Carl-storm
        working-directory: ./build
        run: make lib_carl -j ${NR_JOBS}
      - name: Build tests
        working-directory: ./build
        run: make -j ${NR_JOBS}
      - name: Run tests
        working-directory: ./build
        run: ctest test--output-on-failure


  deploy:
    name: Test and Deploy (${{ matrix.build_type.name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type:
          - {name: "Debug",
             dockerTag: "ci-debug",
             baseImg: "storm-basesystem:latest"
            }
          - {name: "Release",
             dockerTag: "ci",
             baseImg: "storm-basesystem:latest"
            }
    steps:
      - name: Git clone
        uses: actions/checkout@v6
      - name: Build Carl-storm from Dockerfile
        run: |
          docker build -t movesrwth/carl-storm:${{ matrix.build_type.dockerTag }} . \
            --build-arg BASE_IMAGE=movesrwth/${{ matrix.build_type.baseImg }} \
            --build-arg build_type="${{ matrix.build_type.name }}" \
            --build-arg cmake_args="-DCARL_WARNING_AS_ERROR=ON" \
            --build-arg no_threads=${NR_JOBS}
      - name: Run Docker
        run: docker run -d -it --name ci movesrwth/carl-storm:${{ matrix.build_type.dockerTag }}
      - name: Build tests
        run: docker exec ci bash -c "cd /opt/carl/build; make -j ${NR_JOBS}"
      - name: Run tests
        run: docker exec ci bash -c "cd /opt/carl/build; ctest test --output-on-failure"
      - name: Login into docker
        # Only login if using master on original repo (and not for pull requests or forks)
        if: github.repository_owner == 'moves-rwth' && github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.STORM_CI_DOCKER_USERNAME }}
          password: ${{ secrets.STORM_CI_DOCKER_TOKEN }}
      - name: Deploy carl
        # Only deploy if using master on original repo (and not for pull requests or forks)
        if: github.repository_owner == 'moves-rwth' && github.ref == 'refs/heads/master'
        run: |
          docker commit ci movesrwth/carl-storm:${{ matrix.build_type.dockerTag }}
          docker push movesrwth/carl-storm:${{ matrix.build_type.dockerTag }}

  notify:
    name: Email notification
    runs-on: ubuntu-latest
    needs: [compilerTests, linuxTests, macTests, deploy]
    # Only run in main repo and even if previous step failed
    if: github.repository_owner == 'moves-rwth' && always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v3
      - uses: dawidd6/action-send-mail@v9
        with:
          server_address: ${{ secrets.STORM_CI_MAIL_SERVER }}
          server_port: 587
          username: ${{ secrets.STORM_CI_MAIL_USERNAME }}
          password: ${{ secrets.STORM_CI_MAIL_PASSWORD }}
          subject: "[You broke it] CI run failed for ${{ github.repository }}"
          body:
            "CI job of ${{ github.repository }} has failed for commit ${{ github.sha }}.\n\
            The error type is: ${{ env.WORKFLOW_CONCLUSION }}.\n\n\
            For more information, see https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          to: ${{ secrets.STORM_CI_MAIL_RECIPIENTS }}
          from: Github Actions <you-broke-it@stormchecker.org>
        if: env.WORKFLOW_CONCLUSION != 'success' # notify only if failure
